<%= form_for [:admin, @page]  do |f| %>
    
    <%- @page.errors.full_messages.each do |message| -%>
      <div class="errorExplanation"> <p><%= message %></p></div>
      <%- end -%>
      
      <div id="breadcrumb">
           <%= link_to "Pages", admin_pages_path %> &raquo; New
      </div>
     
      <p>
        <%= f.label :title %>
        <%= f.text_field :title, :class => 'text' %>
      </p>
      
  
    <div>
    <%= f.cktext_area :body, rows: 10 %>
    </div>

    <div>
    <%= f.submit %>
  </div>
      
    <% end %>
