<!DOCTYPE HTML>

<html>
  <head>
    <title>Kunal Infotech Pvt Ltd, Nagpur India</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
    <%= stylesheet_link_tag "skel-noscript", "style", "style-desktop", "slider" %>
      <%= javascript_include_tag "config", "skel.min", "skel-panels.min" %>
      <%= csrf_meta_tags %>
    
    
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->

<script>
$.noConflict();
// Code that uses other library's $ can follow here.
</script>
<%= javascript_include_tag "jquery-ui", "jquery-1" %>


  </head>
  <body class="homepage">

    <!-- Header Wrapper -->
      <div id="header-wrapper">
        <div class="container">
          <div class="row">
            <div class="12u">
            
              <!-- Header -->
                <header id="header">
                
                  <!-- Logo -->
                    <div id="logo">
                      <h1><a href="#" id="logo"><img src="/assets/admin/logo-main.png" alt="" border="0"></a></h1>
                      <span><img src="/assets/admin/logo-tagline.png" alt=""></span>
                    </div>
                  
                  <!-- Nav -->
                    <nav id="nav">
                      <ul>
                        <li><a href="about_us">About Us</a></li>
                        <li><a href="careers">Careers</a></li>
                        <li><a href="blogs"> Blogs </a></li>
                        <li><a href="press_release">Press Release</a></li>
                        <li><a href="contact_us">Contact Us</a></li> 
                      </ul>
                    </nav>
                    
                    <div class="search_wrap"><input name="" type="text" class="stf"><input name="" type="button" class="sbtn"></div>
                
                </header>

            </div>
          </div>
        </div>
      </div>
      
      
      
      <%= yield %>
      
      
      <!-- Footer Wrapper -->
      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row" style="border-bottom:1px solid #000000">
            <div class="9u">
            
              <!-- Links -->
                <section class="widget-links">
                  
                  <ul class="style2">
                    <li><a href="our_services">Services</a></li>
                    <li><a href="terms">Terms &amp; Conditions</a></li>
                    <li><a href="privacy_policy">Privacy Policy</a></li>
                    <li><a href="sitemaps"> Site Map</a></li>
                    
                  </ul>
                </section>
            
            </div>
            
            
            <div class="3u">
            
              <!-- Contact -->
                <section class="widget-contact last">
                  
                  <ul>
                  <li><a href="https://www.facebook.com/kunal.infotech.india" class="facebook">Facebook</a></li>
                  <li><a href="https://twitter.com/KunalInfotech" class="twitter">Twitter</a></li>
                  <li><a href="http://www.linkedin.com/company/kunal-infotech-pvt-ltd" class="linkedin">Linkedin</a></li>
                    
                  </ul>

                </section>
            
            </div>
          </div>
          <div class="row">
            <div class="12u">
              <div id="copyright">
Kunal Infotech Pvt Ltd - Ruby on Rails India © 2012-2013
              </div>
            </div>
          </div>
        </footer>
      </div>


<%= javascript_include_tag "jquery_002", "mktg" %>

  </body>
</html>
      
      
      
      
      

                        
                        