<<<<<<< HEAD
=======


>>>>>>> b42411d048f29b486b98efa075f3990d92b6acbb
<!DOCTYPE HTML>

<html>
	<head>
<<<<<<< HEAD
		<title>Kunal Infotech Pvt Ltd, Nagpur India</title>
=======
		<title><%= content_for?(:title) ? yield(:title) : "Kunal Infotech Pvt Ltd" %></title>
>>>>>>> b42411d048f29b486b98efa075f3990d92b6acbb
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
<<<<<<< HEAD
		<%= stylesheet_link_tag "skel-noscript", "style", "style-desktop", "slider" %>
    	<%= javascript_include_tag "config", "skel.min", "skel-panels.min" %>
    	<%= csrf_meta_tags %>
		
		
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
=======


		
		
		<%= stylesheet_link_tag "style.css", "style-desktop" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
>>>>>>> b42411d048f29b486b98efa075f3990d92b6acbb

<script>
$.noConflict();
// Code that uses other library's $ can follow here.
</script>
<<<<<<< HEAD
<%= javascript_include_tag "jquery-ui", "jquery-1" %>
=======
>>>>>>> b42411d048f29b486b98efa075f3990d92b6acbb


	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
								
									<!-- Logo -->
										<div id="logo">
											<h1><a href="#" id="logo"><img src="/assets/admin/logo-main.png" alt="" border="0"></a></h1>
											<span><img src="/assets/admin/logo-tagline.png" alt=""></span>
										</div>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
												<li><a href="index.html">About Us</a></li>
												<li><a href="left-sidebar.html">Careers</a></li>
												<li><a href="right-sidebar.html"> Blogs </a></li>
												<li><a href="no-sidebar.html">Press Release</a></li>
												<li><a href="no-sidebar.html">Contact Us</a></li> 
											</ul>
										</nav>
										
										<div class="search_wrap"><input name="" type="text" class="stf"><input name="" type="button" class="sbtn"></div>
								
								</header>

						</div>
					</div>
				</div>
			</div>
			
			
			
			<%= yield %>
			
			
			<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row" style="border-bottom:1px solid #000000">
						<div class="9u">
						
							<!-- Links -->
								<section class="widget-links">
									
									<ul class="style2">
										<li><a href="#">Services</a></li>
										<li><a href="#">Terms &amp; Conditions</a></li>
										<li><a href="#">Privacy Policy</a></li>
										<li><a href="#"> Site Map</a></li>
										
									</ul>
								</section>
						
						</div>
						
						
						<div class="3u">
						
							<!-- Contact -->
								<section class="widget-contact last">
									
									<ul>
									<li><a href="#" class="facebook">Facebook</a></li>
									<li><a href="#" class="twitter">Twitter</a></li>
									<li><a href="#" class="linkedin">Linkedin</a></li>
										
									</ul>

								</section>
						
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<div id="copyright">
Kunal Infotech Pvt Ltd - Ruby on Rails India © 2012-2013
							</div>
						</div>
					</div>
				</footer>
			</div>


<<<<<<< HEAD
<%= javascript_include_tag "jquery_002", "mktg" %>
=======
<script type="text/javascript" src="javascript/jquery_002.js"></script>
<script type="text/javascript" src="javascript/mktg.js"></script>
<!-- <span><img src="/assets/admin/twitter_icon.png" alt=""></span> -->
>>>>>>> b42411d048f29b486b98efa075f3990d92b6acbb

	</body>
</html>
			
			
			
			
			
